.margin-top-title {
    margin-top: 100px;
}

.media-body {
    padding: 30px;
    text-align: justify;
}

.media-heading {
    margin-top: 30px;
}

.p-pengarang {
    margin-top: 30px;
}

.numberStock {
    width: 60px;
}